<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Modules</th>
      <th>Description</th>
      <th>course_icon</th>
      <th>Category</th>
      <th>Level</th>
      <th>Teacher</th>
      <th>Learning skills</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </thead>

  <tbody>
     
<% courses.each do |course| %>

      <tr> 
        <td><%= course.course_id %></td>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.course_icon %></td>
        <td><%= course.category %></td>
        <td><%= course.level %></td>
        <td><%= course.teacher %></td>
        <td><%= course.learning_skills %></td>
        <td><%= course.course_points %></td>
        <td><%= link_to 'Show', course %></td>

      </tr>
    <% end %>

  </tbody>
</table>