hello cette page est mon profile
<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Pseudo</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Mail</th>
      <th>Ville</th>
      <th>Code Postal</th>
      <th>Pays</th>
      <th>skills</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </thead>

  <tbody>
     
      <tr> 
        <td><%= current_user.username%></td>
        <td><%= current_user.username %></td>
        <td><%= current_user.first_name %></td>
        <td><%= current_user.last_name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.username %></td>
        <td><%= current_user.username %></td>
        <td><%= current_user.username %></td>
        <td><%= current_user.username %></td>
        <td><%= current_user.username %></td>

      </tr>
    

  </tbody>
</table>
  
  <%= render "devise/registrations/edit" %>
