<p>_welcomenav.html</p>

<p>Breadcrumbs</p>
<ul class="breadcrumbs">
	<li><%= link_to "home", welcome_path('home') %></li>
  	<li><%= link_to "contact", welcome_path('contact') %></li>
  	<li><%= link_to "features", welcome_path('features') %></li>
  	<li><%= link_to "payment", welcome_path('payment') %></li>
  	<li><%= link_to "terms", welcome_path('terms') %></li>
  	<li><%= link_to "courses", courses_path %></li>
</ul>
