<p>_welcomenav.html</p>

<p>Breadcrumbs</p>
<ul class="breadcrumbs">
	<li><%= link_to "Acceuil", welcome_path('home') %></li>
  	<li><%= link_to "Contact", welcome_path('contact') %></li>
  	<li><%= link_to "Fonctionnalités", welcome_path('features') %></li>
  	<li><%= link_to "Abonnement", welcome_path('payment') %></li>
  	<li><%= link_to "Termes et Conditions", welcome_path('terms') %></li>
  	<li><%= link_to "Cours", courses_path %></li>
</ul>
