<div class="row">
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <%= f.input :login, label: 'Adresse e-mail ou pseudonyme', error: 'Username or Email is mandatory, please specify one' %>
  <%= f.input :password, label: 'Mot de passe' %>
  <%= f.input :remember_me, as: :boolean, inline_label: 'Garder ma session active' %>
  <%= f.button :submit, "Connexion" %>
<% end %>

  <%= render "devise/shared/links" %>



  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :username %>
  <%= f.input :username, collection: 18..60 %>
  <%= f.button :submit %>
<% end %>

</div>