<%= simple_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :course_icon %><br>
    <%= f.text_field :course_icon %>
  </div>
  <div class="field">
  <%= f.input :category, label: :category, collection: ['néophyte','débutant','intermédiaire','avancé','expert'], selected: 'intermédiaire' %>

    <%= f.label :category %><br>
    <%= f.text_area :category %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :learning_skills %><br>
    <%= f.text_area :learning_skills %>
  </div>
  <div class="field">
    <%= f.label :course_points %><br>
    <%= f.text_field :course_points %>
  </div>
  <div class="actions">
     <%= f.button :submit, "Sauvegarder les Modifications ? " %>
  </div>
<% end %>



