<p id="notice"><%= notice %></p>
<h1>Librairie</h1>


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Modules</th>
      <th>Description</th>
      <th>course_icon</th>
      <th>Category</th>
      <th>Level</th>
      <th>Teacher</th>
      <th>Learning skills</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>

        <td><%= course.course_id %></td>
         <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td> <%=link_to "chapter", course_chapters_path(course) %> </td>
        <td><%= course.description %></td>
        <td><%= course.course_icon %></td>
        <td><%= course.category %></td>
        <td><%= course.level %></td>
        <td><%= course.teacher %></td>
        <td><%= course.learning_skills %></td>
        <td><%= course.course_points %></td>
        <td><%= link_to 'Show', course %></td>
        <% if can? :update, @course %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <% end %>
        <% if can? :destroy, @course %>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

<% end %>
    
  </tbody>
</table>
<br> 



Code pour afficher le dernier cours ajouté : 

<% delta = courses.last %>
<%= delta.title %>
<br>
Code pour trouver un cours en particulier : 

<% delta = courses.find(2) %>
<%= delta.title %>

<br>
Course_id :
<% delta = courses.find(params[:course_id] = "2") %>
<%= delta.title %>
<br>

<%= link_to 'New Course', new_course_path %>


<br>



Tous les admins : <br> 
<%  (User.with_role :admin).each do |user|%>
<%=  user.username %> 
<% end%>