<div class="library-content">

  <!-- Tête d'Affiche -->
  <div class="feature-course">

    <div class="row">

      <!-- Récuperation Objet du dernier Cours ajouté -->
      <% lastcourse = courses.last %>
      <!-- Fin Récuperation -->

      <!-- Affichage dernier Cours -->
      <div class="small-12 medium-3 columns hero-course-logo">
        <h3><i class="fi-html5"></i></h3>
      </div>

      <div class="small-12 medium-9 columns">

        <div class="hero-course-description">
          <h3 class="hero-course-description-title text-left"><%= lastcourse.title %></h3>
          <div class="hero-course-description-text text-left"><%= lastcourse.description %></div>
          <%= link_to 'Démarrer', lastcourse, class: "button radius success" %>
        </div>
      </div>
      <!-- Fin Affichage dernier Cours -->

    </div>
  </div>
  <!-- Fin Tête d'Affiche -->

  <!-- Reste Contenu de Page -->
  <div class="course-container">

    <!-- Bloc de Recherche -->
    <div class="row">
      <div class="small-12 medium-8 large-8 small-centered columns">
        <form>
            <label>Rechercher :
              <input type="text" placeholder="ex: HTML, Swift, Ruby...">
            </label>
        </form>
      </div>
    </div>
    <!-- Fin Bloc de Recherche -->

    <!-- Bloc Listing des Cours-->
    <div class="row">

      <!-- Affichage automatique de tous les Cours -->
      <% courses.each do |course| %>

        <div class="small-12 medium-6 large-4 columns left">

          <%= link_to course do %>

            <div class="course-card">

              <div class="course-card-banner">
                <span class="left"><%= course.level %></span>
                <span class="right">Durée</span>
              </div>

              <div class="course-card-block">

                <div><%= course.title %></div>
                <div><%= course.description %></div>
                <div><%= course.level %></div>
                <div><%= course.teacher %></div>
                <div><%= course.learning_skills %></div>
                <div><%= course.course_points %></div>
                <ul class="button-group">
                  <li><%= link_to 'Démarrer', course, class: "button small radius success" %></li>
                  <% if can? :update, @course %>
                    <li><%= link_to 'Editer', edit_course_path(course), class: "button small radius info" %></li>
                  <% end %>
                  <% if can? :destroy, @course %>
                    <li><%= link_to 'Détruire', course, class: "button small radius alert", method: :delete, data: { confirm: 'Confirmer?' } %></li>
                  <% end %>
                </ul>
              </div>

            </div>

          <% end %>

        </div>        

      <% end %>
      <!-- Fin Affichage automatique de tous les Cours -->

    </div>
    <!-- Fin Bloc Listing des Cours -->
    
    <!-- Si peut créer un cours, Affichage de Blocs Supplémentaires -->
    <% if can? :create, @course %>

      <div class="row">

        <!-- Bloc Création Cours -->
        <div class="small-12 small-centered medium-10 large-8 columns panel callout radius">
          <span>Gestion des Cours :</span>
          <ul>
            <li><%= link_to 'Ajouter un Cours', new_course_path %></li>
          </ul>
        </div>
        <!-- Fin Bloc Création Cours -->

        <!-- Bloc Affichage des Admins -->
        <div class="small-12 small-centered medium-10 large-8 columns panel callout radius">
          <span>Liste des Admins :</span>
          <ul>
            <% (User.with_role :admin).each do |user|%>
              <li><%= user.username %></li>
            <% end%>
          </ul>
        </div>
        <!-- Fin Bloc Affichage des Admins -->

      </div>
      
    <% end %>
    <!-- Fin Affichage Affichage de Blocs Supplémentaires -->

  </div>
  <!-- Fin Reste Contenu de Page -->

</div>