<div class="library-content">

  <!-- Tête d'Affiche -->
  <div class="feature-course">

    <div class="row">

      <div class="small-10 medium-3 columns hero-course-logo">
        <h3><i class="fi-html5"></i></h3>
      </div>

      <div class="small-10 medium-9 columns">

        <div class="hero-course-description">
          <h3 class="hero-course-description-title text-left">Titre du Cours Principal</h3>
          <div class="hero-course-description-text text-left">Description du cours principal Description du cours principal Description du cours principal Description du cours principal Description du cours principal</div>
          <a href="" class="button radius">Accéder au Cours &nbsp; &#10095;&#10095;</a>
        </div>
      </div>

    </div>
  </div>
  <!-- Fin Tête d'Affiche -->

  <!-- Reste Contenu de Page -->
  <div class="course-container">

    <!-- Bloc de Recherche -->
    <div class="row">
      <div class="small-10 medium-8 large-6 small-centered columns">
        <form>
            <label>Rechercher :
              <input type="text" placeholder="ex: HTML, Swift, Ruby...">
            </label>
        </form>
      </div>
    </div>
    <!-- Fin Bloc de Recherche -->

    <!-- Bloc Listing des Cours-->
    <div class="row">

      <!-- Affichage automatique de tous les Cours -->

       
      <% courses.each do |course| %>

        <div class="small-10 medium-4 columns">

          <a href="">
            <div class="course-card">

              <div class="course-card-banner">
                <span class="left"><%= course.level %></span>
                <span class="right">Durée</span>
              </div>

              <div class="course-card-block">
                <div><%= course.course_icon %></div>
                <div><%= course.category %></div>
                <div><%= course.title %></div>
                <div><%= course.description %></div>
                <div><%= course.level %></div>
                <div><%= course.teacher %></div>
                <div><%= course.learning_skills %></div>
                <div><%= course.course_points %></div>
                <% if can? (:update || :destroy), @course %> 
              <% end %> 
              </div>

            </div>
          </a>
        </div>

      <% end %>
      <!-- Fin Affichage automatique de tous les Cours -->

    </div>
    <!-- Fin Bloc Listing des Cours -->
 <% if can? :create, @course %>
    <!-- Bloc Création Cours -->
    <div class="row">
      <span>Gestion des Cours :</span>
      <ul>
        <li><%= link_to 'Ajouter un Cours', new_course_path %></li>
      </ul>
    </div>
  <% end %>
  
    <!-- Fin Bloc Création Cours -->

    <!-- Bloc Affichage des Admins -->
    <div class="row">
      <span>Liste des Admins :</span>
      <ul>
        <% (User.with_role :admin).each do |user|%>
        <li><%= user.username %></li>
        <% end%>
      </ul>
    </div>
    <!-- Fin Bloc Affichage des Admins -->

  </div>
  <!-- Fin Reste Contenu de Page -->
</div>