<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @course.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>icon:</strong>
  <%= @course.course_icon %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>Learning skills:</strong>
  <%= @course.learning_skills %>
</p>

<p>
  <strong>Points:</strong>
  <%= @course.course_points %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
