<div class="row">

    <p id="notice"><%= notice %>

    <%= link_to '<i class="fi-arrow-left"></i> librairie'.html_safe, courses_path() %>
    <h1><%=@course.title%></h1>
    <h1><%= 'Description du cours :' + "  "+ @course.description%></h1>

     <% if can? :edit, @course %>
    <%= link_to 'Modifier le Cours', edit_course_path(@course) %> 
    <% end %>
    <br>
      <h1>Id:</h1>
      <%= @course.course_id %>


    <br>
      Title:
      <%= @course.title %>


    <br>
      Description:
      <%= @course.description %>


    <br>
      icon:
      <%= @course.course_icon %>


    <br>
      Category:
      <%= @course.category %>


    <br>
      Level:
      <%= @course.level %>


    <br>
      Teacher:
      <%= @course.teacher %>


    <br>
      Learning skills:
      <%= @course.learning_skills %>


    <br>
      Points:
      <%= @course.course_points %>




    <%@course.chapters.each do |chapter| %>
    <br> <br>
     <%= "titre du chapitre est : " + chapter.title%>
    <%  chapter.lessons.each do |lesson| %>
    <br>
    <%= link_to lesson do %>
     <%= "titre de la lecon est : " + lesson.title %> 
    <% end %>
    <% end %>
    <br> 
    <% end %>
    <br>

</div>