<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pylon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pylon" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%if user_signed_in? %>

    <!-- User (if logged in) = Dashboard Topbar + Left Sidebar Menu -->

    <!-- Dashboard Topbar -->
    <div class="fixed">
      <%= render 'layouts/dashboard_nav' %>
    </div>
    <!-- End Topbar -->

    <!-- Main Content = Left Sidebar + Page Content -->
    <div class="main-container">

      <!-- Left Sidebar -->
      <%= render 'layouts/left_sidebar' %>
      <!-- End Left Sidebar -->

      <!-- Page Content -->
      <div class="render-page">
        <%= yield %>
      </div>
      <!-- End Page Content -->

    </div>
    <!-- End Main Content -->

    <% else %>
    
      <!-- Visitor (not logged in) = Simple Fixed Home Topbar -->
      <div class="contain-to-grid fixed">
        <%= render 'layouts/home_nav' %>
      </div>
      <!-- End Topbar -->

      <!-- Main Content -->
      <%= render 'layouts/messages' %>
      <%= yield %>
      <!-- End Main content -->

      <!-- Invisible signupModal -->
      <div id="modal-holder"></div>

      <div id="signupModal" class="reveal-modal" data-reveal>
        <%= render 'users/sessions/new' %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
      <!-- End Invisible signupModal -->

    <% end %>
 
  </body>
</html>