<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pylon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pylon" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%if user_signed_in? %>

      <!-- User (if logged in) = Dashboard Top-bar + Off-canvas menu -->
      <div class="off-canvas-wrap" data-offcanvas>

        <!-- Top-bar (fixed + outside of Off-canvas) -->
        <div class="fixed">
          <%= render 'layouts/dashboard_nav' %>
        </div>
        <!-- End Top-bar -->

        <main class="inner-wrap">

          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><span><%= link_to '<i class="fi-home"></i> Home'.html_safe, dashboard_dashboard_path %></span></li>
              <li><span><%= link_to '<i class="fi-book"></i> Librairie'.html_safe, dashboard_path('librairie')%></span></li>
              <li><a href="#"><i class="fi-star"></i><span>Favoris</span></a></li>
              <li><a href="#"><i class="fi-target"></i><span>Objectifs</span></a></li>
              <li><a href="#"><i class="fi-trophy"></i><span>Accomplissements</span></a></li>
              <li><a href="#"><i class="fi-graph-bar"></i><span>Statistiquess</span></a></li>
              <li><a href="#"><i class="fi-comments"></i><span>Forum</span></a></li>
              <li><%= link_to('Déconnexion', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </aside>
          <!-- End Off Canvas Menu -->

          <!-- Main content of the page -->
          <%= render 'layouts/messages' %>
          <%= yield %>
          <!-- End Main content -->

          <!-- Close the Off-canvas Menu -->
          <a class="exit-off-canvas"></a>
        </main>
      </div>

    <% else %>
    
      <!-- Visitor (not logged in) = Simple fixed home top-bar -->
      <div class="contain-to-grid fixed">
        <%= render 'layouts/home_nav' %>
      </div>
      <!-- End Top-bar -->

      <!-- Main content of the page -->
      <%= render 'layouts/messages' %>
      <%= yield %>
      <!-- End Main content -->

      <!-- Invisible signupModal -->
      <div id="signupModal" class="reveal-modal" data-reveal>
        <%= render 'devise/sessions/new' %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
      <!-- End Invisible signupModal -->

    <% end %>
 
  </body>
</html>